@charset "utf-8";

html {
  background-color: #ec2626;
  margin: auto 300px auto 300px;
  font-family: inherit;
  text-align: center;
}

body {
  font-size: 1em;
  line-height: 1.4;
  width: 90%;
  max-width: 1020px;
  background-color: #ffffff;
  margin: 0px auto auto auto;
}

h1 {
  margin: 15px;
  font-family: "Monotype Corsiva";
  font-size: 48px;
}

p {
  font-size: 0.9 em;
  margin-left: 30px;
  margin-right: 30px;
}

img {
  width: 100%;

}

cite {
  margin: 30px;
}

nav {
	display: block;
	text-align: right;
	width: 100%;
	height: 28px;
	background-color: #ec2626;
	border-bottom: 2px solid #ffffff;
}

li {
	display: inline;
	padding-right: 25px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	color: #EFEFEF;
}

li a {
	color: #EFEFEF;
	text-decoration: none;
	letter-spacing: 0.25em;
}

li a:visited {
	color: #EFEFEF;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
}

footer {
  text-align: center;
  font-size: 0.9em;
  border-top: 2px solid #ec2626;
  padding-top: 10px;
  padding-bottom: 20px;
  }
